@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}


:root{
    --main-color:#41a3f8;
    --text-color:#111;
    --light-text:#272727a2;
    --font-secondary:#222;
    --light-bg:rgb(247,247,247);
}


/* Home Styling*/

body{
    box-sizing: border-box;
    font-family: 'Poppins';
}

.flex{
    display: flex;
}

nav{
   position: fixed; 
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 22px 7%;
   z-index: 100;
   box-sizing: border-box;
   background: var(--light-bg);
   align-items: center;
}

nav div{
    align-items: center;
}

nav h1 a{
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

nav ul li{
    margin: 0 2vw;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--light-text);
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

nav ul li a:hover{
    color: var(--main-color);
}

.standardBtn{
    border: none;
    outline: none;
    color: white;
    background: var(--main-color);
    padding: 10px 12px;
    font-family: 'Poppins';
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

/*-----------------------Home   */

.bgSection{
    background: var(--light-bg);
}

section{
    padding: 0 7%;
    max-width: 1280px;
    margin: auto;
}

.hero-section{
    display: flex;
    padding-top: 120px;
    background: var(--light-bg);
    align-items: center;
    justify-content: space-between;
}

.hero-section .heroDiv{
    width: 46%;
}

.hero-section form{
    display: flex;
    background: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 12px 16px;
    border-radius: 4px;
}

.hero-section form div{
    display: flex;
    background: var(--light-bg);
    align-items: center;
    position: relative;
    padding: 0 12px;
}

.hero-section form input{
    padding: 14px 8px;
    font-size: 14px;
    font-family: 'Poppins';
    margin: 0 15px 0 0;
    outline: none;
    border: none;
    background: var(--light-bg);
}

.hero-section form select{
    padding: 14px 12px;
    font-size: 14px;
    font-family: 'Poppins';
    border: none;
    width: 100%;
    outline: none;
    appearance: none;
    background: var(--light-bg);
}

.hero-section .heroDiv h1{
    font-size: 3.5vw;
    color: var(--font-secondary);
}

.hero-section .heroDiv h1 span{
    color: var(--main-color);
}

.hero-section .heroDiv p{
    font-size: 16px;
    color: var(--light-text);
    line-height: 30px;
    margin: 20px 0;
}

.hero-section .heroImg{
    width: 46%;
    position: relative;
}

.heroImg .mainHeroImg{
    width: 100%;
    border-radius: 50%;
}

.heroImg div{
    width: 100%;
    height: 90%;
    position: absolute;
    animation: animateHero 40s infinite;
}

@keyframes animateHero {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(15deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

.heroImg .absoluteImg{
    position: absolute;
    width: 100px;
    border-radius: 50%;
    transition: .2s;
    z-index: 1;
}

.absoluteImg:hover{
    transform: scale(1.1);
}

.absoluteImg.callImg{
    top: 0;
    left: 20%;
    width: 5vw;
}

.absoluteImg.messageImg{
    top: 50%;
    width: 7vw;
}
.absoluteImg.rateImg{
    bottom: 8px;
    left: 25%;
    width: 10vw;
    border-radius: 3px;
}

.absoluteImg.videocallImg{
    top: 15%;
    right: 10%;
    width: 7vw;
    border-radius: 50%;
}

.absoluteImg.supportImg{
    top: 70%;
    right: 10%;
    width: 8vw;
    border-radius: 8px;
}



/*----------------- Steps ----------------*/

.steps{
    text-align: center;
    padding: 60px 7% 0 7%;
    background: white;
    color: var(--font-secondary);
}

.steps h1{
    font-weight: 500;
    font-size: 32px;
    color: var(--font-secondary);
    margin-bottom: 40px;
}

.step{
    display: inline-block;
    width: 29%;
    padding: 20px;
}

.steps-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.step img{
    width: 30%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.step h3{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
}

.step p{
    color: var(--light-text);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}


/*----------------------------------- About ----------------------------*/

#about{
    padding-top: 90px;
}

.doctor_sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.doctor_sec .doctor_img{
    width: 45%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.doctor_img .doctor_hero{
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.doctorInfo{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20%;
    left: 10%;
    background: white;
    padding: 12px 16px;
    cursor: default;
    border-radius: 6px;
    transition: .3s;
}

.doctorInfo:hover{
    transform: scale(1.1);
}

.doctorInfoBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.doctorInfoBox .doctorAvatar{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background: var(--light-bg);
}

.doctorAvatar img{
    max-width: 60px;
}

.doctorInfoBox h4{
    color: var(--font-secondary);
    font-weight: 600;
    font-size: 18px;
}

.doctorInfoBox div p{
    font-size: 13px;
    display: flex;
    margin-top: 3px;
    align-items: center;
    color: var(--light-text);
}
.doctorInfoBox div span{
    font-size: 18px;
    color: #FFD700;
}

.doctorInfoBox h5{
    font-weight: 500;
    color: var(--light-text);
}

.doctorInfoBox:nth-child(3){
    justify-content: center;
    font-size: 13px;
    margin: 8px 0;
    color: var(--light-text);
}

.doctor_sec .doctor_txt{
    width: 50%;
}

.doctor_txt h1{
    color: var(--font-secondary);
    font-size: 3vw;
    font-weight: 400;
}

.doctor_txt h1 span{
    color: var(--main-color);
}

.doctor_txt p{
    margin: 20px 0;
    color: var(--light-text);
    line-height: 25px;
}

.check-list{
    display: flex;
    margin: 12px 0;
    color: var(--font-secondary);
    align-items: center;
}

.check-list span{
    color: var(--main-color);
    margin-right: 15px;
}